<!DOCTYPE html>
<html lang="en">

<!-- HTML Header-->
<%- include('layouts/header') -%>

    <body>
        <!-- Navigation -->
        <%- include('layouts/navbar') -%>
        
            <!-- Page Header-->
            <header class="masthead" id ="dashboardBanner">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Malti Book Store</h1>
                                <span class="subheading">Welcome to Dashboard Page</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <% if(data.bookInfo !=null && data.bookInfo.length > 0) { %>
                    <h1 class="title">Book List</h1>
                    <div class="books">
                        <% for(let i=0; i< data.bookInfo.length; i ++){ %>
                            <div class="book-item">
                                <img src="/images/books.jpg" alt="Avatar" style="width:100%">
                                <div class="info">
                                    <h4><b><%= data.bookInfo[i].bookName %></b></h4> 
                                    <p class="book-item-author"><%= data.bookInfo[i].authorFName %>
                                        <%= data.bookInfo[i].authorLName %></p> 
                                    <div class="book-item-footer">
                                        <span class="book-item-category"><%= data.bookInfo[i].categoryName %></span>
                                        <span>C$ <%= data.bookInfo[i].price %></span>
                                    </div>
                                </div>
                            </div>
                        <%} %>
                    </div>
                <%}else{ %>
                    <p> No book orders yet!</p>
                <%} %>
                <p class="reports"><a href="/fetchBookList">Download Book List</a></p>
            </main>
            <!--Footer-->
            <%- include('layouts/footer') -%>
    </body>

</html>